<div class="product-wrapper">

  <!-- Sidebar -->
  <div class="product-sidebar-wrapper">
    <ul class="product-sidebar-nav">
      <li ng-repeat="func in kpi_func">
        <a href="/#!/product/avatar/{{func}}">{{func}}</a>
      </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div class="product-page-content-wrapper">
    <div class="product-container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <ui-view>
            <h1>Select a KPI</h1>
          </ui-view>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
